<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title When To Launch - Events API 1.0
  body
    h1 When To Launch - Events API 1.0
    h2 Endpoints
    ul
      li
        a(href='/v1/all' target='_blank')
          strong /v1/all:
        |  Returns all events from the database

      li
        a(href='/v1/upcoming' target='_blank')
          strong /v1/upcoming:
        |  Returns all upcoming events from the database

      li
          a(href='/v1/today' target='_blank')
            strong /v1/today:
          |  Returns all events for today

      li
          a(href='/v1/date/:date' target='_blank')
            strong /v1/date/:date:
          |  Returns all events for a selected date (date format: YYYY.MM.DD)

      li
        a(href='/v1/companies' target='_blank')
          strong /v1/companies:
        |  Returns all companies from the database

      li
        a(href='/v1/company/:company-id' target='_blank')
          strong /v1/company/:company-id:
        |  Returns all events for a selected company

      li
        a(href='/v1/company/:company-id/upcoming' target='_blank')
          strong /v1/company/:company-id/upcoming:
        |  Returns all upcoming events for a selected company

      li
        a(href='/v1/event/:event-id' target='_blank')
          strong /v1/event/:event-id:
        |  Returns all data for a selected event